<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body class="error-page-404">

<header class="container-fluid">

    <h2 class="text-15-left-padding text-white">Това, което търсиш, не бе намерено!

        <a th:href="@{/}">
            <button class="link-as-button link-width-wrap-text font-18" type="button"><i class="fa-solid fa-house"></i> Върни се на начална страница...</button>
        </a>

    </h2>


</header>


<main></main>
<footer></footer>


</body>

</html>