<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<th:block th:replace="~{fragments/navbar-admin}">Admin SubNavbar</th:block>

    <main>
        <div class="container-recipe r-add-container clr-grayish round-corners-25">

<th:block th:replace="~{fragments/navbar-admin-recipe-categorization}">Administer recipe categorization</th:block>

            <div class="edit-zone clr-greenish round-corners-25">

                    <section class="row clr-beigeish round-corners-25">
                        <div class="grid-container form-group round-corners-25">
                            <div class="bottom-space">
                                <p>Номер по ред | Име на рецепта: Списък от категории, в които е сложена, разделени с наклонена черта някаква;</p>
                            </div>
                            <div class="bottom-space">
                                <p>Номер по ред | Име на рецепта: Списък от категории, в които е сложена, разделени с наклонена черта някаква;</p>
                            </div>
                            <div class="bottom-space">
                                <p>Номер по ред | Име на рецепта: Списък от категории, в които е сложена, разделени с наклонена черта някаква;</p>
                            </div>
    
                    </section>



            </div>
        </div>
    </main>


    <footer></footer>


</body>

</html>