<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<th:block th:replace="~{fragments/navbar-admin}">Admin SubNavbar</th:block>

<main>
    <div class="container-account r-add-container clr-grayish round-corners-25">

        <th:block th:replace="~{fragments/navbar-admin-recipes}">Administer recipes</th:block>

        <div class="edit-zone clr-reddish round-corners-25">


            <form>
                <section class="row clr-beigeish round-corners-25 ingredient">
                    <div class="table-container form-group product-name">
                        <table class="tbl-pr-unit-qty-act">
                            <tr>
                                <th>Име на рецепта:</th>
                                <th>Публикувана на:</th>
                                <th>Последно редактирана:</th>
                                <th>Бр. прегледи:</th>
                                <th>Скрита:</th>
                                <th></th>
                            </tr>
                            <tr class="row-pr-unit-qty-act">
                                <td class="delete-recipe-name"> -</td>
                                <td class="recipe-published"> -</td>
                                <td class="recipe-edited"> -</td>
                                <td class="recipe-views"> -</td>
                                <td class="recipe-hidden"> -</td>
                                <td class="btn-action">
                                    <button type="button"
                                            class="btn-remove btn-bgrd-transparent font-18"><i
                                            class="fa-solid fa-xmark" style="color: lightgray;"></i></button>
                                </td>
                            </tr>

                            <tr class="green">
                                <td colspan="5" class="width-100">
                                    <label for="recipe-for-deletion" class="text-white"></label>
                                    <select name="recipe-for-deletion" id="recipe-for-deletion"
                                            class="form-control">
                                        <option value="">- Избери име на рецепта за премахване -</option>
                                    </select>
                                </td>


                                <td class="btn-action">
                                    <button type="button" class="btn-add btn-bgrd-transparent font-20"><i
                                            class="fa-solid fa-plus" style="color: #fafafa;"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="empty-div-spacing">
                    </div>
                </section>

                <section class="row button-row">
                    <div class="col /*col-md-4*/">
                        <div class="button-holder d-flex red-gamma">
                            <input class="font-18 btn" type="submit" value="Изтрий избраните рецепти"/>
                        </div>
                    </div>
                </section>

            </form>
        </div>
    </div>
</main>


<footer></footer>


</body>

</html>