<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<th:block th:replace="~{fragments/navbar-admin}">Admin SubNavbar</th:block>

<main>
    <div class="container-account r-add-container clr-grayish round-corners-25">

        <th:block th:replace="~{fragments/navbar-admin-items}">Administer non-food products</th:block>

        <div class="edit-zone clr-orangeish round-corners-25">


            <form
                    th:action="@{/recipe/add}"
                    th:method="post"
                    th:object="${recipeModel}">

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group r-name text-black admin width-100">

                        <label for="product">Продукт за актуализиране </label>
                        <p class="alert-message font-14">Внимание! Каква грешка бихме могли да имаме тук?</p>
                        <select name="product" id="product" class="form-control">
                            <option value="">- Избери продукт -</option>
                        </select>
                    </div>
                </section>

                <section class="row button-row r-update-container">
                    <div class="col /*col-md-4*/">
                        <div class="button-holder d-flex">
                            <input class="font-18 btn" type="submit" value="Покажи детайли за продукта"/>
                        </div>
                    </div>
                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group r-name text-black ">
                        <label for="product-name">Име на продукт </label>
                        <p class="alert-message font-14">Продукта вече съществува</p>
                        <div class="font-12">
                            <p>(до 50 символа)</p>
                        </div>
                        <input type="text" id="product-name" name="product-name" maxlength="50">
                    </div>
                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group r-name text-black admin width-100">

                        <label for="item-category-supermarket">Категория продукт</label>
                        <select name="product" id="item-category-supermarket" class="form-control">
                            <option value="">- Избери категория продукт -</option>
                        </select>
                    </div>
                </section>

                <!-- ако избере нехранителен, секцията с мерните единици по-долу да се скрие -->
<!--                <section class="row clr-beigeish round-corners-25">-->
<!--                    <div class="grid-container r-categories form-group round-corners-25">-->
<!--                        <div class="bottom-space">-->
<!--                            <p>Избери дали продукта е хранителен или не:</p>-->
<!--                        </div>-->
<!--                        <div class="grid-el">-->
<!--                            <input type="checkbox" id="product-non-food" name="product-non-food"-->
<!--                                value="Нехранителен продукт">-->

<!--                            <label class="r-categories" for="product-food">Нехранителен продукт</label>-->
<!--                        </div>-->
<!--                        <div class="grid-el"><input type="checkbox" id="product-food" name="product-food"-->
<!--                                value="Хранителен продукт">-->
<!--                            <label class="r-categories" for="product-food">Хранителен продукт</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <p>тази секция е излишна, защото това може да се определи от категорията продукт </p>-->
<!--                </section>-->


                <section class="row button-row r-update-container">
                    <div class="col /*col-md-4*/">
                        <div class="button-holder d-flex">
                            <input class="font-18 btn" type="submit" value="Актуализирай"/>
                        </div>
                    </div>
                </section>


            </form>
        </div>
    </div>
</main>


<footer></footer>


</body>

</html>