<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<th:block th:replace="~{fragments/navbar-admin}">Admin SubNavbar</th:block>

<main>
    <div class="container-recipe r-add-container clr-grayish round-corners-25">

        <th:block th:replace="~{fragments/navbar-admin-users}">Administer users</th:block>

        <div class="edit-zone clr-greenish round-corners-25">

            <section class="row clr-beigeish round-corners-25">
                <div class="grid-container form-group round-corners-25">
                    <div class="bottom-space"
                         th:each="u, uIter: ${usersList}">
                        <p><span th:text="${uIter.index + 1}">Номер по ред </span> |
                            <span th:text="${u.email}"> Имейл </span> |
                            <span th:text="${u.displayNickname}">Потребител </span> |
                            <span th:text="${u.dateRegistered}">Регистриран на </span> |
                            <span th:text="${u.userRoles}">Роли </span>;
                        </p>
                        <!--                        <span th:each="ur: ${u.userRoles}">-->
                        <!--                                  <span th:text="${ur}">Роля </span>-->
                        <!--                                </span>-->

                        <!--                        <input th:type="hidden"-->
                        <!--                               th:name="usrEdit"-->
                        <!--                               th:value="${u.id}">-->

                        <form sec:authorize="isAuthenticated()"
                              class="inline-display"
                              th:method="get"
                              th:action="@{/admin/users/edit(id=${u.id})}">

                            <button class="button-as-link add-to-list-link"
                                    type="submit"
                                    th:name="id"
                                    th:value="${u.id}">
                                <a> Редактирай</a>
                            </button>
<!--                            name="usrEdit"-->
                        </form>

                    </div>
                </div>
            </section>


        </div>
    </div>
</main>


<footer></footer>


</body>

</html>