<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<th:block th:replace="~{fragments/navbar-admin}">Admin SubNavbar</th:block>

<main>
    <div class="container-account r-add-container clr-grayish round-corners-25">

        <th:block th:replace="~{fragments/navbar-admin-ingredients}">Administer Ingredients</th:block>

        <div class="edit-zone clr-reddish round-corners-25">


            <form>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group r-name text-black admin width-100">

                        <label for="product">Продукт за премахване </label>
                        <p class="alert-message font-14">Продукта се използва в рецепта и не може да бъде изтрит</p>
                        <select name="product" id="product" class="form-control">
                            <option value="">- Избери продукт -</option>
                        </select>
                    </div>
                </section>

                <section class="row button-row ">
                    <div class="col /*col-md-4*/">
                        <div class="button-holder d-flex red-gamma">
                            <input class="font-18 btn" type="submit" value="Изтрий"/>
                        </div>
                    </div>
                </section>


            </form>
        </div>
    </div>
</main>


<footer></footer>


</body>

</html>