<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<th:block th:replace="~{fragments/navbar-admin}">Admin SubNavbar</th:block>

    <main>
        <div class="container-account r-add-container clr-grayish round-corners-25">

            <th:block th:replace="~{fragments/navbar-admin-product-categories}">Administer Product Categories</th:block>


            <div class="edit-zone clr-orangeish round-corners-25">

                <section class="row clr-beigeish round-corners-25 ingredient">
                    <div class="table-container form-group product-name">
                        <table class="tbl-pr-unit-qty-act">
                            <tr>
                                <th>Име продуктова категория:</th>
                                <th>Поредност в пазарски списък:</th>
                                <th></th>
                            </tr>
                            <tr class="row-pr-unit-qty-act">
                                <td class="alt-measure-unit"> - </td>
                                <td class="alt-measure-qty"> - </td>
                                <td></td>
                            </tr>

                            <!-- <tr class="row-fields-pr-unit-qty-act green">
                                <td><label for="Alt-m-units-without-main" class="text-white"></label>
                                    <select name="Alt-m-units-without-main" id="Alt-m-units-without-main"
                                        class="form-control">
                                        <option value="">- Избери мярка -</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="alt-m-qty" class="text-white"></label>
                                    <input type="number" id="alt-m-qty" name="alt-m-qty" maxlength="5" size="4" min="0"
                                        max="99999" step="0.10" placeholder=" - ">
                                </td>
                                <td><span>осн.м.ед</span></td>
                                <td class="btn-action">
                                    <button type="button" class="btn-add btn-bgrd-transparent font-20"><i
                                            class="fa-solid fa-plus" style="color: #fafafa;"></i> </button>
                                </td>
                            </tr> -->
                        </table>
                    </div>
                </section>

                <form>

                    <section class="row clr-beigeish round-corners-25">
                        <div class="form-group r-name text-black admin width-100">

                            <label for="product-category">Актуализирай продуктова категория </label>
                            <select name="product-category" id="product-category" class="form-control">
                                <option value="">- Избери продуктова категория -</option>
                            </select>
                        </div>
                    </section>

                    <section class="row clr-beigeish round-corners-25">
                        <div class="form-group r-name text-black ">
                            <label for="product-category-name">Ново име на продуктовата категория </label>
                            <p class="alert-message font-14">Продуктовата категория вече съществува</p>
                            <div class="font-12">
                                <p>(до 50 символа)</p>
                            </div>
                            <input type="text" id="product-category-name" name="product-category-name" maxlength="50">
                        </div>
                    </section>

                    <section class="row clr-beigeish round-corners-25">
                        <div class="grid-container r-categories form-group round-corners-25">
                            <div class="bottom-space">
                                <p>Категорията е за:</p>
                            </div>
                            <div >
                                <input type="radio" id="product-non-food" name="product-type"
                                    value="Нехранителни продукти">

                                <label class="r-categories" for="product-food">Нехранителни продукти</label>
                            </div>
                            <div ><input type="radio" id="product-food" name="product-type"
                                    value="Хранителни продукти">
                                <label class="r-categories" for="product-food">Хранителни съставки</label>
                            </div>
                        </div>
                    </section>

                    <section class="row clr-beigeish round-corners-25">
                        <div class="form-group r-name text-black width-100">
                            <label for="product-category-order">Ново място по ред в пазарски списък </label>
                            <p class="alert-message font-14"></p>
                            <div class="font-12">
                                <p>(По-малко или равно на последния номер по ред до момента)</p>
                            </div>
                            <input type="number" id="product-category-order" name="product-category-order" maxlength="2"
                                size="4" min="0" max="99" step="1" placeholder=" - ">
                        </div>
                    </section>

                    <section class="row button-row r-update-container">
                        <div class="col /*col-md-4*/">
                            <div class="button-holder d-flex">
                                <input class="font-18 btn" type="submit" value="Актуализирай" />
                            </div>
                        </div>
                    </section>



                </form>
            </div>
        </div>
    </main>


    <footer></footer>


</body>

</html>