<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<header class="container-fluid">

    <h2 class="text-15-left-padding text-white">В момента сайта е в профилактика...</h2>
    <h2 class="text-15-left-padding text-white">Изчакайте и опитайте пак след малко.</h2>

</header>


<main></main>
<footer></footer>


</body>

</html>



