<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ShoppingListProject</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

    <main class="r-update-container">
        <div class="container-recipe r-add-container clr-grayish round-corners-25">
            <section class="r-add-header row round-corners-25">
                <h2 class="text-15-left-padding text-center text-white">Актуализирай рецептата:</h2>
            </section>


            <form>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group r-name text-black ">
                        <label for="recipe-name">Име на рецепта: </label>
                        <p class="alert-message font-14">Вече си качил рецепта в това име</p>
                        <input type="text" id="recipe-name" name="recipe-name" maxlength="75"
                            placeholder=" - Задай наименование на рецептата - ">
                    </div>
                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="table-container form-group product-name orange">
                        <table class="tbl-pr-unit-qty-act">
                            <tr>
                                <th>Съставка:</th>
                                <th>Количество:</th>
                                <th>Мерна единица:</th>
                                <th></th>
                            </tr>
                            <tr class="row-pr-unit-qty-act">
                                <td class="ingredient-name"> - </td>
                                <td class="ingredient-qty"> - </td>
                                <td class="ingredient-measure-unit"> - </td>
                                <td class="btn-action"><button type="button"
                                        class="btn-remove btn-bgrd-transparent font-18"> <i class="fa-solid fa-xmark"
                                            style="color: lightgray;"></i></button></td>
                            </tr>

                            <tr class="row-fields-pr-unit-qty-act">
                                <td><label for="product" class="text-white"></label>
                                    <select name="product" id="product" class="form-control">
                                        <option value="">- Избери продукт -</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="pr-qty" class="text-white"></label>
                                    <input type="number" id="pr-qty" name="pr-qty" maxlength="5" size="4" min="0"
                                        max="99999" step="0.10" placeholder=" - ">
                                </td>
                                <td>
                                    <label for="unit-of-measure" class="text-white"></label>
                                    <select name="unit-of-measure" id="unit-of-measure" class="form-control">
                                        <option value="">- Избери -</option>
                                    </select>
                                </td>
                                <td class="btn-action">
                                    <button type="button" class="btn-add btn-bgrd-transparent font-20"><i
                                            class="fa-solid fa-plus" style="color: #fafafa;"></i> </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group servings">
                        <p>Посочените к-ва са за:</p>
                        <label for="servings" class="text-white"></label>
                        <input type="number" id="servings" name="servings" maxlength="2" size="2" min="0" max="99"
                            step="1" placeholder=" - ">
                        <p>бр. порции.</p>
                    </div>

                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group paragraphs-container round-corners-25">
                        <label class="r-paragraph for=" recipe-cook-steps">Стъпки за
                            приготовление:</label>
                        <div class="grow-wrap">
                            <textarea name="recipe-cook-steps" id="recipe-cook-steps" type="textarea"
                                class="form-control paragraph-keep" placeholder="Опиши стъпките за приготовление... "
                                maxlength="5000"
                                onInput="this.parentNode.setAttribute('data-replicated-value', this.value)"></textarea>
                        </div>
                    </div>
                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group r-source">
                        <label class="charlen-255 for=" r-source">Източник: </label>
                        <input type="text" id="r-source" name="r-source" maxlength="255" size="75"
                            placeholder=" - От къде се вдъхнови за тази рецепта? - ">
                    </div>
                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group">
                        <div class="r-prep-time">
                            <p>Време за подготовка / отлежаване: </p>
                            <table>
                                <tr>
                                    <td><label class="text-white" for="prep-time-dd"></label>
                                        <input type="number" name="prep-time-dd" id="prep-time-dd" maxlength="3"
                                            size="2" min="0" max="120" step="1" placeholder="0">
                                    </td>
                                    <td>
                                        <p>дни</p>
                                    </td>

                                    <td><label class="text-white" for="prep-time-hh"></label>
                                        <input type="number" name="prep-time-hh" id="prep-time-hh" maxlength="2"
                                            size="2" min="0" max="23" step="1" placeholder="00">
                                    </td>
                                    <td>
                                        <p>ч.</p>
                                    </td>
                                    <td> <label class="text-white" for="prep-time-mm"></label>
                                        <input type="number" name="prep-time-mm" id="prep-time-mm" maxlength="2"
                                            size="2" min="0" max="59" step="15" placeholder="00">
                                    </td>
                                    <td>
                                        <p>мин.</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="r-cook-time">
                            <p>Време за готвене: </p>
                            <table>
                                <tr>
                                    <td>
                                        <label class="text-white" for="cook-time-hh"></label>
                                        <input type="number" name="cook-time-hh" id="cook-time-hh" maxlength="2"
                                            size="2" min="0" max="23" step="1" placeholder="00">
                                    </td>
                                    <td>
                                        <p>ч.</p>
                                    </td>
                                    <td>
                                        <label class="text-white" for="cook-time-mm"></label>
                                        <input type="number" name="cook-time-mm" id="cook-time-mm" maxlength="2"
                                            size="2" min="0" max="59" step="15" placeholder="00">
                                    </td>
                                    <td>
                                        <p>мин.</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group round-corners-25">
                        <label class="pic-upl-btn" for="r-pic-upl">Снимка <span class="font-12">(до 30 KB)</span>:
                        </label>
                        <input type="file" id="r-picture" name="r-picture">
                        <p class="alert-message font-14">Размерът на снимката трябва да е по-малък от 30 KB!</p>
                    </div>
                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="grid-container r-categories form-group round-corners-25">
                        <div class="bottom-space">
                            <p>Избери категориите, които са приложими за рецептата:</p>
                        </div>
                        <div class="grid-el"><input type="checkbox" id="r-categories" name="r-categories[]"
                                value="categoryNameFromDB">
                            <label class="r-categories" for="r-categories[]">categoryNameFromDB</label>
                        </div>
                        <div class="grid-el"><input type="checkbox" id="r-categories" name="r-categories"
                                value="categoryNameFromDB">
                            <label class="r-categories" for="r-categories">categoryNameFromDB</label>
                        </div>
                        <div class="grid-el"><input type="checkbox" id="r-categories" name="r-categories"
                                value="categoryNameFromDB">
                            <label class="r-categories" for="r-categories">categoryNameFromDB</label>
                        </div>
                        <div class="grid-el"><input type="checkbox" id="r-categories" name="r-categories"
                                value="categoryNameFromDB">
                            <label class="r-categories" for="r-categories">categoryNameFromDB</label>
                        </div>
                        <div class="grid-el"><input type="checkbox" id="r-categories" name="r-categories"
                                value="categoryNameFromDB">
                            <label class="r-categories" for="r-categories">categoryNameFromDB</label>
                        </div>
                        <div class="grid-el"><input type="checkbox" id="r-categories" name="r-categories"
                                value="categoryNameFromDB">
                            <label class="r-categories" for="r-categories">categoryNameFromDB</label>
                        </div>
                    </div>

                </section>

                <section class="row clr-beigeish round-corners-25">
                    <div class="form-group paragraphs-container r-notes round-corners-25">
                        <label class="r-paragraph for=" r-notes">Бележки: </label>
                        <div class="grow-wrap">
                            <textarea name="r-notes" id="r-notes" type="textarea"
                                class="form-control paragraph-keep"
                                placeholder="Място за бележки, препоръки или др..."
                                maxlength="1000"
                                onInput="this.parentNode.setAttribute('data-replicated-value', this.value)"></textarea>
                        </div>
                    </div>
                </section>

                <section class="row button-row">
                    <div class="col /*col-md-4*/">
                        <div class="button-holder d-flex"  >
                            <input class="font-18" type="submit" class="btn" value="Актуализирай" />
                        </div>
                    </div>

                </section>

            </form>
        </div>
    </main>


    <footer></footer>


</body>

</html>