<th:block>
    <section class="r-add-header row round-corners-25">
        <h2 class="text-15-left-padding text-center text-white">Администрация на рецепти</h2>
    </section>

    <section class="admin-edit-menu">
        <ul class="admin-edit-menu-list clr-beigeish">
            <li class="font-green">
                <a th:href="@{/admin-recipes-view}">
                    <h3 class="font-green">Списък рецепти</h3>
                </a>
            </li>
            <li class="font-red">
                <a th:href="@{/admin-recipes-delete}">
                    <h3 class="font-red">Изтрий рецепта</h3>
                </a>
            </li>
        </ul>
    </section>
</th:block>