<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administer Items</title>
</head>
<body>

<nav th:fragment="AdminItems" class="admin-edit-menu">
    <section class="r-add-header row round-corners-25">
        <h2 class="text-15-left-padding text-center text-white">Администрация на нехранителни продукти</h2>
    </section>
    <ul class="admin-edit-menu-list clr-beigeish">
        <li>
            <a th:href="@{/admin/item/edit}">
                <h3 class="font-orange">Редактирай</h3>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/item/add}">
                <h3 class="font-green">Добави</h3>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/item/delete}">
                <h3 class="font-red">Изтрий</h3>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>