<th:block>
    <section class="r-add-header row round-corners-25">
        <h2 class="text-15-left-padding text-center text-white">Потребители</h2>
    </section>

    <section class="admin-edit-menu">
        <ul class="admin-edit-menu-list clr-beigeish">
            <li>
                <a th:href="@{/admin/users/view}">
                    <h3 class="font-green">Виж</h3>
                </a>
            </li>
<!--            <li>-->
<!--                <a th:href="@{/admin/users/edit}">-->
<!--                    <h3 class="font-orange">Редактирай</h3>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </section>
</th:block>